// Variables starting with double underscores are used for reference,
// and shouldn't (but could) be used in styling

// Font families
$__font-family-sans:      ('Open Sans', 'Arial', sans-serif) !default;
$__font-family-serif:     ('Gentium Book Basic', 'Georgia', serif) !default;
$__font-family-mono:      ('Courier New', monospace) !default;
$__font-families:         () !default;
$__font-families: map-merge((
  base:                   $__font-family-sans,
  default:                $__font-family-sans,
  sans:                   $__font-family-sans,
  sans-serif:             $__font-family-sans,
  serif:                  $__font-family-serif,
  mono:                   $__font-family-mono,
  monospace:              $__font-family-mono,
  heading:                $__font-family-serif
), $__font-families);

// Font sizes
$__font-size-default:     16px !default;
$__font-sizes:            () !default;
$__font-sizes: map-merge((
  tiny:                   $__font-size-default - 4,
  small:                  $__font-size-default - 2,
  default:                $__font-size-default,
  medium:                 $__font-size-default + 4,
  large:                  $__font-size-default + 8,
  huge:                   $__font-size-default + 20,
  h1:                     $__font-size-default + 10,
  h2:                     $__font-size-default + 8,
  h3:                     $__font-size-default + 6,
  h4:                     $__font-size-default + 4,
  h5:                     $__font-size-default + 2,
  h6:                     $__font-size-default
), $__font-sizes);

// Font weights
$__font-weights:          () !default;
$__font-weights: map-merge((
  light:                  300,
  normal:                 400,
  semibold:               600,
  bold:                   700,
  extrabold:              800
), $__font-weights);

// Line heights
$__line-heights:          () !default;
$__line-heights: map-merge((
  default:                1.5,
  fontsize:               1,
  heading:                1
), $__line-heights);

// Borders
$__border-radius:         () !default;
$__border-radius: map-merge((
  tiny:                   2px,
  small:                  3px,
  medium:                 5px,
  large:                  8px,
  huge:                   10px
), $__border-radius);

$__border-widths:         () !default;
$__border-widths: map-merge((
  tiny:                   1px,
  small:                  2px,
  medium:                 3px,
  large:                  4px,
  huge:                   5px
), $__border-widths);

// Colors
// When using a map (color variants), the 'base' variant is required
$__color-brand-primary:   #337ab7 !default;
$__color-gray-base:       #000 !default;
$__palette:               () !default;
$__palette: map-merge((
  theme: (
    base:                 $__color-brand-primary,
    primary:              $__color-brand-primary,
    secondary:            #333,
    success:              #5cb85c,
    info:                 #5bc0de,
    warning:              #f0ad4e,
    danger:               #d9534f
  ),
  background:             #ebebeb,
  font: (
    base:                 #42526b
  ),
  'white':                #fff,
  'black':                #000,
  'gray': (
    base:                 $__color-gray-base,
    light:                lighten($__color-gray-base, 13.5%),
    lighter:              lighten($__color-gray-base, 20%),
    medium:               lighten($__color-gray-base, 33.5%),
    dark:                 lighten($__color-gray-base, 46.7%),
    darker:               lighten($__color-gray-base, 93.5%)
  ),
  'green':                #00c95c,
  color1: (
    base:                 #eaeff3,
    dark:                 #d3dce6
  )
), $__palette);

// Spacing
// This is used for classes like mb-5 and p-3
$__spacingAmount:           10px !default;
$__spacing:               () !default;
$__spacing: map-merge((
  tiny:                   0,
  small:                  ($__spacingAmount * .2),
  default:                ($__spacingAmount * .5),
  medium:                 $__spacingAmount,
  large:                  ($__spacingAmount * 2),
  huge:                   ($__spacingAmount * 3)
), $__spacing);
